IPv4 Datagram this is summarythis case is doing what error 


**Describe the bug**
this is summary
this case is doing what test is Fail on Zephyr3.0.0 on qemu_x86

**References**

RFC1111: this is for RFC1111
RFC2222: this is for RFC1112

**

**Results**

1. do something Pass
2. try something Fail
3. echo result Na

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: Zephyr3.0.0
