
TCP Setup Set the traffic class and flow label in the appended IPv6 header to one. error 



**Describe the bug**
Set the traffic class and flow label in the appended IPv6 header to one. test is Fail on Zephyr3.0.0 on qemu_x86

**References**

RFC 2460: section 6
RFC 2460: section 7
RFC 4443: section 3.1
RFC 1122: section 3.2.2 {Demux ICMP Error to transport protocol}
RFC 1122: section 3.2.2 {Included octets same as received}
RFC 1122: section 3.2.2 {ICMP error msg}

**Results**

FAIL: tcp.v6 got reply packets, which is not an expected result.

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: Zephyr3.0.0



Also fails on qemu_x86 for Zephyr3.0.0


fix in v3.2.0-RC1