
TCP Options Split SYN/ACK segment to ACK and SYN. ACK gets all options. error 



**Describe the bug**
Split SYN/ACK segment to ACK and SYN. ACK gets all options. test is Fail on Zephyr3.0.0 on qemu_x86

**References**

RFC 793: section 3.9
RFC 1122: section 4.2.2.5 {Receive TCP option in any segment}
RFC 1323
RFC 2018

**Results**

SKIPPED: tcp.v4: Packets exchanged with the DUT did not match those needed to either perform or grade the test. (Traffic source reports: no route to host on connect call.); PASS: tcp.v4 got echo response, which is an expected result.; FAIL: tcp.v6 got fewer bytes than expected, which is not an expected result.

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: Zephyr3.0.0
