
IPv4 ARP ARP Request with Hardware and Protocol Sender Address set to broadcast. error 



**Describe the bug**
ARP Request with Hardware and Protocol Sender Address set to broadcast. test is Fail on Zephyr3.0.0 on qemu_x86

**References**

RFC 826: page 4
RFC 1122: section 3.3.6 {Silently discard link-layer-only b'cast dg's}
RFC 1812: section 3.3.2, page 34

**Results**

PASS: icmp.v4 DUT did not respond to ARP.; FAIL: udp.v4 DUT sent an ARP reply, which is not expected.; FAIL: tcp.v4 DUT sent an ARP reply, which is not expected.; FAIL: icmp.v4 DUT sent an ARP reply, which is not expected.; PASS: udp.v4 DUT did not respond to ARP.; PASS: tcp.v4 DUT did not respond to ARP.; FAIL: icmp.v4 DUT sent an ARP reply, which is not expected.; FAIL: udp.v4 DUT sent an ARP reply, which is not expected.; FAIL: tcp.v4 DUT sent an ARP reply, which is not expected.

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: Zephyr3.0.0



Also fails on qemu_x86 for Zephyr3.0.0
