
IPv4 Options Append a RTRALT option with a claimed length of 41. error 



**Describe the bug**
Append a RTRALT option with a claimed length of 41. test is Fail on Zephyr3.0.0 on qemu_x86

**References**

RFC 791: section 3.1
RFC 792
RFC 1122: section 3.2.2 {Included octets same as received}
RFC 1122: section 3.2.2.5 {Send Parameter Problem messages}

**Results**

FAIL: icmp.v4 got echo response, which is not an expected result.; FAIL: udp.v4 got echo response, which is not an expected result.; FAIL: tcp.v4 got echo response, which is not an expected result.

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version used: Zephyr3.0.0
