IPv4.ARP.019: udp.ipv4: ARP Request with Hardware and Protocol Sender Address set to broadcast. fail

- Describe the bug

ARP Request with Hardware and Protocol Sender Address set to broadcast. fail


- References

RFC 826: page 4
RFC 1122: section 3.3.6 {Silently discard link-layer-only b'cast dg's}
RFC 1812: section 3.3.2, page 34

```
With the Protocol Sender Address set to 255.255.255.255 broadcast address, the ARP Request has its Hardware Sender Address set to the Ethernet broadcast address of FF-FF-FF-FF-FF-FF.

According to RFC 1122, section 3.3.6, page 65: "When a host sends a datagram to a link-layer broadcast address, the IP destination address MUST be a legal IP broadcast or IP multicast address."

According to RFC 1812, section 3.3.2, page 34: "A router MUST not believe any ARP reply that claims that the Link Layer address of another host or router is a broadcast or multicast address."

In order to stay conformant to those requirements, the Ethernet broadcast address must never appear in the ARP translation table with a unicast IPv4 address.  In this case an IPv4 broadcast address is paired with an Ethernet broadcast address, so an entry could be allowed into the ARP translation table without any apparent affect on address resolution or violation of known RFC requirements.  DUT may add an entry to its arp cache but otherwise may not respond.
```

- Results

b'FAIL: udp.v4 DUT sent an ARP reply, which is not expected.'



Environment (please complete the following information):

OS: (e.g. Linux )
Toolchain (e.g Zephyr SDK)
Commit SHA or Version used: Zephyr3.2.0-RC1

[ip_arp_019_ipv4_tcp.zip](https://github.com/zephyrproject-rtos/test_results/files/9582626/ip_arp_019_ipv4_tcp.zip)
